<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination" th:object="${pagination}">
    <div class="pagination">
        <a th:if="*{prevFirstPage > 0}" th:href="*{#strings.concat(baseUrl,  '1')}">&lt;&lt;</a>
        <a th:if="*{prevFirstPage > 0}" th:href="*{#strings.concat(baseUrl, prevFirstPage)}">&lt;</a>

        <a th:each="p : *{pages}" th:href="${p[1]}" th:text="${p[0]}" th:classappend="${p[0] == '' + pagination.page} ? 'on'"></a>

        <a th:if="*{nextFirstPage > 0}" th:href="*{#strings.concat(baseUrl, nextFirstPage)}">&gt;</a>
        <a th:if="*{nextFirstPage > 0}" th:href="*{#strings.concat(baseUrl, totalPages)}">&gt;&gt;</a>
    </div>
</th:block>
</html>