<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<th:block th:fragment="common" th:object="${roomList}">

  <div #swiperRef="" class="swiper mySwiper mySwiper2" onmouseover="isMouseOn2()" onmouseout="isMouseOut2()"   >
    <div class="swiper-wrapper" >
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="card" th:onclick="|window.location.href='@{/#}'|">
          <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
          <div>
            <span>강릉 켄싱턴 리조트</span>
            <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
          </div>
          <span>160,000원/1박</span>
        </div>
      </div>

    </div>
    <div id="ArrowSwiper2">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  </div>
</th:block>
</html>