<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<th:block layout:fragment="addCss">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/swiperMain.css}">

</th:block>

<th:block layout:fragment="addScript">

    <!-- Swiper JS -->
    <script th:src="@{/front/js/swiperMain.js}"></script>

</th:block>

<main layout:fragment="content" class="main-style">
    <!-- 배너 시작 -->
    <div class="banner" name="banner">
        <img src="https://img.freepik.com/free-photo/beautiful-beach-and-sea_74190-6620.jpg?w=1060&t=st=1700922019~exp=1700922619~hmac=eb4193d27e15a3109c3f486ab84f86e331dc05fce0d0e249b4cfda93fbf073b1">
        <div class="banner_btn" th:onclick="|window.location.href='@{/#}'|">
            보러가기
            <img th:src="@{img/icons/rightArrow.svg}">
        </div>
    </div>
    <!-- 배너 끝 -->

    <!-- 숙소 분류 별 메뉴 시작 -->
    <div class="category-box">
        <div class="category" th:onclick="|window.location.href='@{/#}'|">
            <img th:src="@{img/front/pension.svg}" alt="펜션 아이콘">
            <a>펜션</a>
        </div>
        <div class="category" th:onclick="|window.location.href='@{/#}'|">
            <img th:src="@{img/front/hotel.svg}" alt="호텔·리조트 아이콘">
            <a>호텔·리조트</a>
        </div>
        <div class="category" th:onclick="|window.location.href='@{/#}'|">
            <img th:src="@{img/front/motel.svg}" alt="모텔 아이콘">
            <a>모텔</a>
        </div>
        <div class="category" th:onclick="|window.location.href='@{/#}'|">
            <img th:src="@{img/front/guestHouse.svg}" alt="게스트 하우스 아이콘">
            <a>게스트 하우스</a>
        </div>
        <div class="category" th:onclick="|window.location.href='@{/#}'|">
            <img th:src="@{img/front/camp.svg}" alt="글램핑·캠프 아이콘">
            <a>글램핑·캠프</a>
        </div>
    </div>
    <!-- 숙소 분류 별 메뉴 끝 -->

    <!--  추천 객실 1 시작 -->


    <div class="card-top-exp">
        <div>
            <span>기다리던 휴가, </span>
            <span> 가족과 함께라면?</span>
        </div>
        <a th:href="@{/#}">더보기</a>
    </div>
    <div #swiperRef="" class="swiper mySwiper" onmouseover="isMouseOn1()"  onmouseout="isMouseOut1()" >
        <div class="swiper-wrapper" th:object="${roomList}">
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/room}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span th:text="${roomList.}">강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>

        </div>
        <div id="ArrowSwiper1">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!--  추천 객실 1 끝 -->

    <!--  추천 객실 2 시작 -->
    <div class="card-top-exp">
        <div>
            <span>아껴둔 연차로 </span>
            <span>연인과 떠나는 여행</span>
        </div>
        <a th:href="@{/#}">더보기</a>
    </div>
    <div #swiperRef="" class="swiper mySwiper" onmouseover="isMouseOn2()" onmouseout="isMouseOut2()"   >
        <div class="swiper-wrapper" >
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>

        </div>
        <div id="ArrowSwiper2">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!--  추천 객실 2 끝 -->

    <!--  추천 객실 3 시작 -->
    <div class="card-top-exp">
        <div>
            <span>환상의 섬 </span>
            <span>제주도 어때요?</span>
        </div>
        <a th:href="@{/#}">더보기</a>
    </div>
    <div #swiperRef="" class="swiper mySwiper" onmouseover="isMouseOn3()" onmouseout="isMouseOut3()"  >
        <div class="swiper-wrapper" >
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>
            <div class="swiper-slide" >
                <div class="card" th:onclick="|window.location.href='@{/#}'|">
                    <img src="https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-in-hotel_105762-1787.jpg?w=826&t=st=1700926509~exp=1700927109~hmac=6bec7def989826e0cf80eb1070eb0dc0b59cf534f168bd0660817fdccad5acd9">
                    <div>
                        <span>강릉 켄싱턴 리조트</span>
                        <span>부모님이 만족하고 아이들이 좋아하는 가족형 리조트</span>
                    </div>
                    <span>160,000원/1박</span>
                </div>
            </div>

        </div>
        <div id="ArrowSwiper3">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!--  추천 객실 3 끝 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</main>

</html>