<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>회원 목록</h1>
    <form method="post" th:action="@{/admin/member}">
        <table>
            <thead>
            <tr>
                <th>이메일</th>
                <th>이름</th>
                <th>가입일</th>
                <!-- 다른 내용 불러올 때 더 추가하기 -->
            </tr>
            </thead>
            <tbody>
            <!-- 반복문을 통해 회원 목록을 표시 -->
            <tr th:each="member : ${memberList}" th:object="${member}">
                <td th:text="*{email}"></td>
                <td th:text="*{userNm}"></td>
                <td th:text="*{#temporals.format(createdAt, 'dd/MMM/yyyy HH:mm')}"></td>
                <td>
                    <a th:href="@{/admin/member/delete?email={email}(email=*{email})}" value="delete">삭제</a>
                    <button type="submit" name="submitButton" value="role">권한 수정</button>
                </td>
                <!-- 다른 내용 불러올 때 더 추가하기 -->
            </tr>
            </tbody>
        </table>
    </form>

</section>
</html>