<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>회원 목록</h1>

    <!-- 검색 폼 추가 -->
    <form method="get" th:action="@{/admin/member}" class="search-form">
        <label for="search">회원 검색:</label>
        <input type="text" id="search" name="search" th:value="${param.search}" placeholder="이메일 또는 이름으로 검색">
        <button type="submit">검색</button>
    </form>

    <form method="post" th:action="@{/admin/member}">
        <table class="table-cols">
            <thead>
            <tr>
                <th>이메일</th>
                <th>이름</th>
                <th>가입일</th>
                <th>활성화 여부</th>
                <th>설정</th>
                <!-- 다른 내용 불러올 때 더 추가하기 -->
            </tr>
            </thead>
            <tbody>
            <!-- 반복문을 통해 회원 목록을 표시 -->
            <tr th:each="member : ${memberList}" th:object="${member}">
                <td th:text="*{email}"></td>
                <td th:text="*{userNm}"></td>
                <td th:text="*{#temporals.format(createdAt, 'dd/MMM/yyyy HH:mm')}"></td>
                <td>
                    <span th:if="${member.active}">활성화</span>
                    <span th:unless="${member.active}">비활성화</span>
                </td>
                <td>
                    <a th:href="@{/admin/member/delete?email={email}(email=*{email})}" value="delete" class="btns">활성화 여부</a>
                    <a th:href="@{/admin/member/role?email={email}(email=*{email})}" value="role" class="btns">권한 설정</a>
                </td>
                <!-- 다른 내용 불러올 때 더 추가하기 -->
            </tr>
            </tbody>
        </table>
    </form>

</section>
</html>