<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addCss">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/swiperDesc.css}">
    <!-- DatePicker CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

</th:block>

<th:block layout:fragment="addScript">

    <!-- Swiper JS -->
    <script th:src="@{/front/js/swiperDesc.js}"></script>

    <!-- Map Js -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=74b86af2fcb77337114d18264746b247"></script>
    <script th:src="@{/front/js/map.js}"></script>

    <!-- DatePicker JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/front/js/datepicker.js}"></script>
    <script th:src="@{/front/js/datepicker-ko.js}"></script>

    <script>
        function isLogin() {
            const origin = window.location.origin;
            const member = document.getElementById("memberData").value;
            const startDate = document.getElementById("startDate").value;
            const endDate = document.getElementById("endDate").value;
            const count = document.getElementById("count").value;

            if (member === null || member === "") {
                alert("로그인이 필요합니다.");
                // 로그인 페이지로 이동
                window.location.href = `${origin}/member/login`;
            } else {
                // 로그인이 되어 있으면 폼 제출
                if (startDate === "" || startDate === null || endDate === "" || endDate === null || count === "" || count === null) {
                    alert("숙박 기간과 인원수를 입력해주세요.")
                } else if (startDate === endDate) {
                    alert("숙박 기간은 1박 이상이여야 합니다.")
                } else {
                    document.getElementById("payBox").submit();
                }
            }
            return false; // 폼이 제출되지 않도록 false 반환
        }
    </script>

</th:block>
<main layout:fragment="content">
    <input type="hidden" id="memberData" th:value="${member}" /> <!-- 로그인 정보 -->
    <!--스위퍼-->
    <div class="swiper-box">
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
            <div class="swiper-wrapper" >
                <div class="swiper-slide" th:each="image, stat : ${room.mainImages}">
                    <img th:src="${image.fileUrl}" />
                </div>
                <div class="swiper-slide" th:each="image, stat : ${room.descImages}">
                    <img th:src="${image.fileUrl}" />
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper" >
                <div class="swiper-slide" th:each="image, stat : ${room.mainImages}">
                    <img th:src="${image.fileUrl}" />
                </div>
                <div class="swiper-slide" th:each="image, stat : ${room.descImages}">
                    <img th:src="${image.fileUrl}" />
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    </div>
    <!-- 객실 설명 -->
    <div class="room-exp">
        <h1 th:text="${room.getRoomName()}">객실 이름</h1>
        <p th:text="${room.getRoomInfo1()}">객실 설명1</p>
    </div>
    <hr class="title-hr"/>
    <!--결제 박스-->
    <form class="pay-box" method="post" id="payBox" th:action="@{'/room/' + ${roomNum} + '/pay'}"
    >
        <div class="pay-box-price">
            <h1 th:text="${room.getRoomPr()+'₩'}">객실 가격</h1>
            <p>/박</p>
        </div>
        <div class="pay-box-info">
            <div class="pay-box-select">
                <div class="select-p-box">
                    <div class="select-day-box">
                        <img th:src="@{/img/icons/calender.svg}">
                        <p>기간</p>
                    </div>
                    <input type="text" id="startDate" class="date-picker" name="startDate" placeholder="시작일">
                    <hr class="select-box-hr"/>
                    <input type="text" id="endDate" class="date-picker" name="endDate" placeholder="종료일">
                </div>
                <div class="select-p-box">
                    <div class="select-day-box">
                        <img th:src="@{/img/icons/people.svg}">
                        <p class="pr">인원</p>
                    </div>
                    <select name="count" id="count">
                        <option th:each="count : ${#numbers.sequence(1, room.roomCount)}" th:value="${count}" th:text="${count} + 명">객실 최대 수용 인수</option>
                    </select>
                </div>
            </div>
            <p class="select-box-info" th:text="${room.getRoomInfo2()}">
                객실 설명2
            </p>
            <button type="button" class="login_button" onclick="isLogin()">예약하기</button>
        </div>
    </form>

    <div class="room-exp-area" id="roomExpArea">
        <!--객실 사진-->
        <div class="set-middle" th:each="image, stat : ${room.mainImages}">
            <img th:src="${image.fileUrl}" />
        </div>
        <div class="set-middle" th:each="image, stat : ${room.descImages}">
            <img th:src="${image.fileUrl}" />
        </div>
        <hr class="d-hr"/>
        <!-- 설명 -->
        <div class="set-middle" >
            <p th:text="${room.getRoomInfo3()}">
            </p>
        </div>

        <hr class="d-hr"/>
        <!--    카카오맵 API    -->

        <div id="map" style="width: 44vw; height: 44vh;" class="map"></div>
    </div>
</main>
</html>