<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/joinLogin}">

<main layout:fragment="content" class="login-style">
    <div class="LogoBox">
        <img th:src="@{/img/logo.svg}" alt="logo">
        <img th:src="@{/img/logo2.svg}" alt="logo">
    </div>
    <form method="post" th:action="@{/member/login}" autocomplete="off">
        <input th:if="${redirectURL != null}" type="hidden" name="redirectURL" th:value="${redirectURL}">
        <div class="rows">
            <input type="text" name="email" th:placeholder="#{이메일}" th:value="${session.email}">
            <div class="error" th:if="${session.NotBlank_email != null}" th:text="${session.NotBlank_email}"></div>
        </div>
        <div class="rows">
            <input type="password" name="password" th:placeholder="#{비밀번호}">
            <div class="error" th:if="${session.NotBlank_password != null}" th:text="${session.NotBlank_password}"></div>
        </div>
        <button type="submit" th:text="#{로그인}"></button>
        <div class="error" th:if="${session.globalError != null}" th:text="${session.globalError}"></div>
    </form>
</main>

</html>