<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<th:block th:fragment="common" th:object="${roomConfigForm}">
    <input type="hidden" name="gid" th:field="*{gid}">
    <table class="table-cols" >
        <tr>
            <th>객실 번호</th>
            <td>
                <input type="text" name="roomNum" th:field="*{roomNum}">

            </td>
        </tr>
        <tr>
            <th>사업자 이메일</th>
            <td>
                <input type="text" name="sellerId" th:field="*{sellerId}">

            </td>
        </tr>
        <tr>
            <th>최대 수용 인원수</th>
            <td>
                <input type="text" name="roomCount" th:field="*{roomCount}">

            </td>
        </tr>
        <tr>
            <th>객실 이름</th>
            <td>
                <input type="text" name="roomNm" th:field="*{roomName}">

            </td>
        </tr>
        <tr>
            <th>객실 설명1</th>
            <td>
                <input type="text" name="roomInfo" th:field="*{roomInfo}" placeholder="객실명 아래 들어갈 문구입니다.">

            </td>
        </tr>
        <tr>
            <th>객실 가격</th>
            <td>
                <input type="text" name="roomPr" th:field="*{roomPr}">

            </td>
        </tr>
        <tr>
            <th>객실 설명2</th>
            <td>
                <input type="text" name="roomInfo" th:field="*{roomInfo}" placeholder="결제 박스 안에 들어갈 문구입니다.">

            </td>
        </tr>
        <tr>
            <th>객실 이용 시작 시간</th>
            <td>
                <input type="text" name="checkIn" th:field="*{checkIn}">

            </td>
        </tr>
        <tr>
            <th>객실 설명3</th>
            <td>
                <input type="text"  name="roomInfo" th:field="*{roomInfo}" placeholder="본문에 들어갈 문구입니다.">

            </td>
        </tr>
        <tr>
            <th>메인 이미지</th>
            <td>
                <button type="button" class="sbtn upload_files" data-location="main">이미지 업로드</button>
                <div id="main_images" class="uploaded_images">
                    <div th:if="*{mainImages != null}" th:each="file : *{mainImages}" th:object="${file}" class="file_images" th:id="*{'file_' + id}">
                        <a th:href="@{/file/delete/{id}(id=*{id})}" onclick="return confirm('정말 삭제하시겠습니까?');" target="ifrmProcess" class="remove">
                            <i class="xi-close-min"></i>
                        </a>
                        <div class="bg view_image" th:data-id="*{id}" th:style="*{'background:url(' + thumbsUrl[0] + ') no-repeat center center; background-size:cover;'}"></div>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <th>목록 이미지</th>
            <td>
                <button type="button" class="sbtn upload_files" data-location="list">이미지 업로드</button>
                <div id="list_images" class="uploaded_images">
                    <div th:if="*{listImages != null}" th:each="file : *{listImages}" th:object="${file}" class="file_images" th:id="*{'file_' + id}">
                        <a th:href="@{/file/delete/{id}(id=*{id})}" onclick="return confirm('정말 삭제하시겠습니까?');" target="ifrmProcess" class="remove">
                            <i class="xi-close-min"></i>
                        </a>
                        <div class="bg view_image" th:data-id="*{id}" th:style="*{'background:url(' + thumbsUrl[0] + ') no-repeat center center; background-size:cover;'}"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>상세 이미지</th>
            <td>
                <button type="button" class="sbtn upload_files" data-location="desc">이미지 업로드</button>
                <div id="desc_images" class="uploaded_images">
                    <div th:if="*{descImages != null}" th:each="file : *{descImages}" th:object="${file}" class="file_images" th:id="*{'file_' + id}">
                        <a th:href="@{/file/delete/{id}(id=*{id})}" onclick="return confirm('정말 삭제하시겠습니까?');" target="ifrmProcess" class="remove">
                            <i class="xi-close-min"></i>
                        </a>
                        <div class="bg view_image" th:data-id="*{id}" th:style="*{'background:url(' + thumbsUrl[0] + ') no-repeat center center; background-size:cover;'}"></div>
                    </div>
                </div>
            </td>
        </tr>
        <div th:if="${menuCode == 'room' and subMenuCode == 'add'}">

        </div>
    </table>
    <script th:replace="~{common/_file_tpl::tpl_image1}"></script>
</th:block>
</html>