<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<th:block th:fragment="common" >
    <aside th:fragment="menu">

    </aside>
    <table class="table-cols">
        <form th:object="${RoomConfigForm}" method="post" th:action="@{/admin/add}">
            <tr>
                <th>객실 번호</th>
                <td>
                    <input type="text" name="roomNum" th:field="*{roomNum}">
                </td>
            </tr>
            <tr>
                <th>사업자 이메일</th>
                <td>
                    <input type="text" name="sellerId" th:field="*{sellerId}">
                </td>
            </tr>
            <tr>
                <th>최대 수용 인원수</th>
                <td>
                    <input type="text" name="roomCount" th:field="*{roomCount}">
                </td>
            </tr>
            <tr>
                <th>객실 이름</th>
                <td>
                    <input type="text" name="roomNm" th:field="*{roomNm}">
                </td>
            </tr>
            <tr>
                <th>객실 가격</th>
                <td>
                    <input type="text" name="roomPr" th:field="*{roomPr}">
                </td>
            </tr>
            <tr>
                <th>객실 체크인 시간</th>
                <td>
                    <input type="text" name="checkIn" th:field="*{checkIn}">
                </td>
            </tr>
            <tr>
                <th>객실 체크아웃 시간</th>
                <td>
                    <input type="text" name="checkOut" th:field="*{checkOut}">
                </td>
            </tr>
            <tr>
                <th>객실 정보</th>
                <td>
                    <input type="text" name="roomInfo" th:field="*{roomInfo}">
                </td>
            </tr>
            <div th:if="${menuCode == 'room' and subMenuCode == 'add'}">

            </div>
        </form>
    </table>
</th:block>
</html>