<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
  <h1>객실 활성화</h1>
  <form method="post" th:action="@{/admin/room/active}">
    <p>활성화 여부 설정을 할 계정을 검색해주세요</p>
    <input type="text" placeholder="사업자 이메일을 입력해주세요" name="email" th:value="${param.email}">

    <button type="submit" name="submitButton" value="search">검색</button>
  </form>
  <th:block th:if="${room}">
    <form method="post" th:action="@{/admin/room/active}">
      <table>
        <thead>
        <tr>
          <th>이메일</th>
          <!-- 다른 내용 불러올 때 더 추가하기 -->
        </tr>
        </thead>
        <tbody>
        <!-- 반복문을 통해 회원 목록을 표시 -->
        <tr>
          <td th:text="${room.sellerId}"></td>
          <td>
            <button type="submit" name="submitButton" value="delete">삭제</button>
          </td>
          <!-- 다른 내용 불러올 때 더 추가하기 -->
        </tr>
        </tbody>
      </table>
    </form>
</section>
</html>