/* 메인 페이지 스위퍼 시작 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    margin-left: 100px;
    height: fit-content;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.swiper {
    width: 100%;
    margin: 20px auto 150px;
}

.swiper-button-next-box {
    width: 75px;
    height: 75px;
    border-radius: 40px;
    background-color: #1D9D65;
    opacity: 0.5;
}

.swiper-button-next {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: all 0.5s;
}

.swiper-button-next:hover {
    margin-right: 5px;
}

.swiper-button-prev {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: all 0.5s;
}

.swiper-button-prev:hover {
    margin-left: 5px;
}

#ArrowSwiper1,
#ArrowSwiper2,
#ArrowSwiper3 {
    opacity: 0;
}
/* 메인 스위퍼 끝*/
