<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
</head>
<body>

<!-- 헤더 부분 -->
<header th:fragment="common">
    <div class="header_logo_search">
        <div class="logo">
            <!-- 이미지 로고 -->
            <img th:src="@{/img/logo.svg}" alt="logo">
            <img th:src="@{/img/logo2.svg}" alt="logo2">
        </div>
        <form method="post" class="search_bar_box">
            <!-- 검색 폼 -->
            <input type="text" class="search_bar" placeholder="어디로 갈까요?">
            <button type="submit" class="search_button" th:onclick="|location.href='#'|"></button>
        </form>
    </div>

    <!-- 인증된 사용자일 때 보여지는 블록 -->
    <th:block th:if="${#authorization.expression('isAuthenticated')}">
        <a th:href="@{/mypage}" th:text="#{마이페이지}"></a>
        <a th:href="@{/member/logout}" th:text="#{로그아웃}"></a>

        <!-- ADMIN 권한이 있는 경우에만 보여지는 링크 -->
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
           th:href="@{/admin}"
           th:text="#{사이트_관리}"
           target="_blank"></a>
    </th:block>

    <!-- 비인증 사용자일 때 보여지는 블록 -->
    <th:block th:if="${#authorization.expression('isAnonymous')}">
        <div class="header_buttons">
            <!-- Thymeleaf 방식으로 URL 지정 -->
            <button type="button" class="join_button" th:onclick="|location.href='/day05/member/join'|">회원가입</button>
            <button type="button" class="login_button">로그인</button>
        </div>
    </th:block>
</header>

</body>
</html>
